<!-- app/views/users/new.html.erb -->

<head>
<%= stylesheet_link_tag 'sessions' %>  
</head>

<body>
<div class="container">
    <div class="row">
    <div class="col-lg-4">
      <%= form_for :user, url: '/users' do |f| %>
        <div class="card my-4">
          <h5 class="card-header">Signup</h5>
          <div class="card-body">

            <div class="input-group">
              <%= f.text_field 'name', class: 'form-control', placeholder: 'Name' %>
            </div>
            <div class="input-group">
              <%= f.text_field 'email', class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="input-group">
              <%= f.password_field 'password', class: 'form-control', placeholder: 'Password' %>
            </div>
            <div class="input-group">
              <%= f.password_field 'password_confirmation', class: 'form-control', placeholder: 'Password Confirmation' %>
            </div>
            <span class="input-group-btn">
              <%= f.submit "Sign Up!", class: 'btn btn-secondary' %>
            </span>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</body>